<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidWise"
        tools:targetApi="31">
        <activity
            android:name=".learning.CongratulationActivity"
            android:exported="false" />
        <activity
            android:name=".learning.DigitalClockActivity"
            android:exported="false" />
        <activity
            android:name=".learning.FollowObjectActivity"
            android:exported="false" />
        <activity
            android:name=".learning.SimilarPicturesActivity"
            android:exported="false" />
        <activity
            android:name=".learning.MultiplicationActivity"
            android:exported="false" />
        <activity
            android:name=".learning.DirectionsActivity"
            android:exported="false" />
        <activity
            android:name=".learning.WordSpellActivity"
            android:exported="false" />
        <activity
            android:name=".learning.DigitMemoryActivity"
            android:exported="false" />
        <activity
            android:name=".learning.MonthsOfYearActivity"
            android:exported="false" />
        <activity
            android:name=".learning.DaysOfWeekActivity"
            android:exported="false" />
        <activity
            android:name=".learning.SeasonActivity"
            android:exported="false" />
        <activity
            android:name=".learning.ClockActivity"
            android:exported="false" />
        <activity
            android:name=".redirect.LearningActivity"
            android:exported="false" />
        <activity
            android:name=".redirect.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".account.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".account.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".redirect.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>